<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fgq.study.mbgmapper.mapper.ba.BaRoomMapper">
  <resultMap id="BaseResultMap" type="org.fgq.study.mbgmapper.domain.ba.BaRoom">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="partner_id" jdbcType="VARCHAR" property="partnerId" />
    <result column="room_id" jdbcType="VARCHAR" property="roomId" />
    <result column="room_name" jdbcType="VARCHAR" property="roomName" />
    <result column="room_cdesc" jdbcType="VARCHAR" property="roomCdesc" />
    <result column="house_id" jdbcType="VARCHAR" property="houseId" />
    <result column="house_name" jdbcType="VARCHAR" property="houseName" />
    <result column="room_status" jdbcType="VARCHAR" property="roomStatus" />
    <result column="delflag" jdbcType="BIT" property="delflag" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, partner_id, room_id, room_name, room_cdesc, house_id, house_name, room_status, 
    delflag, creator, create_time, modifier, modify_time, ip_address
  </sql>
  <select id="selectByExample" parameterType="org.fgq.study.mbgmapper.domain.ba.BaRoomExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ba_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ba_room
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ba_room
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.fgq.study.mbgmapper.domain.ba.BaRoomExample">
    delete from ba_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.fgq.study.mbgmapper.domain.ba.BaRoom">
    insert into ba_room (id, partner_id, room_id, 
      room_name, room_cdesc, house_id, 
      house_name, room_status, delflag, 
      creator, create_time, modifier, 
      modify_time, ip_address)
    values (#{id,jdbcType=BIGINT}, #{partnerId,jdbcType=VARCHAR}, #{roomId,jdbcType=VARCHAR}, 
      #{roomName,jdbcType=VARCHAR}, #{roomCdesc,jdbcType=VARCHAR}, #{houseId,jdbcType=VARCHAR}, 
      #{houseName,jdbcType=VARCHAR}, #{roomStatus,jdbcType=VARCHAR}, #{delflag,jdbcType=BIT}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{ipAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.fgq.study.mbgmapper.domain.ba.BaRoom">
    insert into ba_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="partnerId != null">
        partner_id,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="roomName != null">
        room_name,
      </if>
      <if test="roomCdesc != null">
        room_cdesc,
      </if>
      <if test="houseId != null">
        house_id,
      </if>
      <if test="houseName != null">
        house_name,
      </if>
      <if test="roomStatus != null">
        room_status,
      </if>
      <if test="delflag != null">
        delflag,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="ipAddress != null">
        ip_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="partnerId != null">
        #{partnerId,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null">
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomCdesc != null">
        #{roomCdesc,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="houseName != null">
        #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="roomStatus != null">
        #{roomStatus,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null">
        #{delflag,jdbcType=BIT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ipAddress != null">
        #{ipAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.fgq.study.mbgmapper.domain.ba.BaRoomExample" resultType="java.lang.Long">
    select count(*) from ba_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ba_room
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.partnerId != null">
        partner_id = #{record.partnerId,jdbcType=VARCHAR},
      </if>
      <if test="record.roomId != null">
        room_id = #{record.roomId,jdbcType=VARCHAR},
      </if>
      <if test="record.roomName != null">
        room_name = #{record.roomName,jdbcType=VARCHAR},
      </if>
      <if test="record.roomCdesc != null">
        room_cdesc = #{record.roomCdesc,jdbcType=VARCHAR},
      </if>
      <if test="record.houseId != null">
        house_id = #{record.houseId,jdbcType=VARCHAR},
      </if>
      <if test="record.houseName != null">
        house_name = #{record.houseName,jdbcType=VARCHAR},
      </if>
      <if test="record.roomStatus != null">
        room_status = #{record.roomStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.delflag != null">
        delflag = #{record.delflag,jdbcType=BIT},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ipAddress != null">
        ip_address = #{record.ipAddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ba_room
    set id = #{record.id,jdbcType=BIGINT},
      partner_id = #{record.partnerId,jdbcType=VARCHAR},
      room_id = #{record.roomId,jdbcType=VARCHAR},
      room_name = #{record.roomName,jdbcType=VARCHAR},
      room_cdesc = #{record.roomCdesc,jdbcType=VARCHAR},
      house_id = #{record.houseId,jdbcType=VARCHAR},
      house_name = #{record.houseName,jdbcType=VARCHAR},
      room_status = #{record.roomStatus,jdbcType=VARCHAR},
      delflag = #{record.delflag,jdbcType=BIT},
      creator = #{record.creator,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      ip_address = #{record.ipAddress,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.fgq.study.mbgmapper.domain.ba.BaRoom">
    update ba_room
    <set>
      <if test="partnerId != null">
        partner_id = #{partnerId,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null">
        room_name = #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomCdesc != null">
        room_cdesc = #{roomCdesc,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="houseName != null">
        house_name = #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="roomStatus != null">
        room_status = #{roomStatus,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null">
        delflag = #{delflag,jdbcType=BIT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ipAddress != null">
        ip_address = #{ipAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.fgq.study.mbgmapper.domain.ba.BaRoom">
    update ba_room
    set partner_id = #{partnerId,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=VARCHAR},
      room_name = #{roomName,jdbcType=VARCHAR},
      room_cdesc = #{roomCdesc,jdbcType=VARCHAR},
      house_id = #{houseId,jdbcType=VARCHAR},
      house_name = #{houseName,jdbcType=VARCHAR},
      room_status = #{roomStatus,jdbcType=VARCHAR},
      delflag = #{delflag,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      ip_address = #{ipAddress,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="org.fgq.study.mbgmapper.domain.ba.BaRoomExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ba_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>