<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xsi:schemaLocation="http://www.nlog-project.org http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logfile" xsi:type="File"  fileName="log\App-${shortdate}.log" layout="${longdate}--${logger}--${level}--${message}"  ></target>
		<target name="logconsole" xsi:type="Console" ></target>
		<target name="errorConsole" xsi:type="Console" layout="${longdate}--${callsite}--${level}--${message}-${stacktrace}"  ></target>
		<target name="errorFile" xsi:type="File"  fileName="log\App-${shortdate}.log" layout="${longdate}--${callsite}--${level}--${message}-${stacktrace}"  ></target>
	</targets>
	<rules>

		<logger name="*" minlevel="Info" maxlevel="Warn" writeTo="logconsole,logfile" />
		<logger name="*" minlevel="Error" writeTo="errorConsole,errorFile" />
		 
	</rules>



</nlog>