<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:redisson="http://redisson.org/schema/redisson"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://redisson.org/schema/redisson
       http://redisson.org/schema/redisson/redisson-1.0.xsd">

    <!--<redisson:redis id="redisson" host="127.0.0.1" port="6379" >-->
    <!--</redisson:redis>-->

    <redisson:client id="redissonClient" name="redissonClient" threads="1">
        <redisson:single-server address="${redisson.address}" database="${redisson.dbid}"
                                connection-minimum-idle-size="1" connection-pool-size="3"
        ></redisson:single-server>
    </redisson:client>

</beans>